nav {
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
}

h1 {
    font-size: 2rem;
}
nav.dark {
    background: #2b3844;
    color: white;
}

.dark-toggle {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.dark-toggle p {
    margin-left: 10px;
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 1rem;
    }
}