.country-details-container {
    padding: 30px;
    min-height: 100vh;
}

.country-details-container.dark {
    background: #202c36;
    color: white;
}

.country-details-container p {
    margin: 0;
}

.backBtn {
    display: inline-block;
    padding: 7px 30px;
    background: white;
    color: #111517 ;
}

.dark .backBtn{
    background: #2B3844;
    color: white;
}

.country {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.country img {
    width: 40%;
    height: auto;
    object-fit:fill;
}

h2 {
    font-size: 2rem;
}

.infos {
    width: 50%;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.neighbours {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.neighbours button {
    padding: 7px 25px;
    margin-left: 10px;
    border-radius: 5px;
    background: white;
    color: black;
}

.dark .neighbours button {
    background: #2B3844;
    color: white;
}

.dark a {
    color: white;
}